
body{
    margin: 0;
}

.login{
    background-color: gray;
    height: 100vh;
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter:grayscale(120%);
}

.login-content{
    padding: 8px;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    display: flex;
    flex-direction: column;
}

/* #hiking-video{
    position: fixed;
    z-index: -1;
    width: 100%;
} */

.logo{
    text-align: left;
    float: left;
    margin-left: 15px;
    width: 80px;
    height: 50px;
}

.login-nav{
    position: sticky;
    padding: 15px;
    height: 50px;
    margin: 0px;
}

.form-control{
    color: #ccff00;
    border-radius: 5px;
    border: 1px solid rgba(243, 243, 243, 0.4);
    background-color: rgba(189, 189, 189, 0.8);;
    padding: 5px;
    margin-bottom: 10px;
    height: 30px;
    width: 300px;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-control:focus{
    width: 500px;
    content: none;
    outline-color:#b2de02;
}

.login-form{
    text-align: center;
    margin-top: 20vh;
    justify-content: center;
    align-items: center;
}

.login-header{
    color: white;
}

.login-form-button{
    font-size: 20px!important;
    /* color: rgb(97, 97, 97);  */
    color: white;
    border-radius: 5px;
    /* border: 1px solid rgba(243, 243, 243, 0.4); */
    background-color: transparent;
    border: none;
    font-size: 17px;
    height: 40px;
    width: 130px;
    margin-top: 10px;
}

.login-form-button:enabled{
    color: #ccff00;
    background-color: transparent;
    border: none;
}

.login-bottom-text{
    font-size: 18px;
    color: #ccff00;
    font-weight: 550;
}